#menu-header {
    display: flex;
    width: 70%;

    a {
        padding: 10px 15px;
        display: block;
        font-size: 20px;
        color: #fff;

        &.active {
            background: #5bb541;
        }
    }
}