a {
    text-decoration: none;
}
li{
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.container {
    margin: auto;
    max-width: 1000px;
}

.page {
    box-shadow: 0 0 5px 2px #0000005e;
    padding: 15px;
    margin-top: 15px;
}
